:root {
    --cyan: #26c2ff;

    --white: #fff;
    --yellow: #fbde43;
    --pink: #ff6bb7;
    --lilac: #9f67ff;
    --whiteTransparent: #ffffff63;
    --blackTransparent: #0000003d;
    --royalblue: #155ED0;
    --blackblue:#03388C;
    --darkGray: #a2a2a200;
    --grayLight: #8c8c8c;
    --turquoise: #00cc99;
    --navy: #001c42b5;
    --yellowDuck: rgb(255, 244, 188);
    --pinklight: #ff96cc;
    --yellow2: #e6c723;

}

/*-------------------------------------*/
/*****************Header**************+*/
/*-------------------------------------*/



body {
    margin: 0px;
    height: 100vh;
}

.container {
    height: 100vh;
    display: grid;
    background: var(--cyan);
    grid-template-columns: auto;
    grid-template-rows: auto auto;

}

.bar-container {
    display: grid;
    width: 100vw;
    height: 100px;
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
}

.bar {
    display: grid;
    height: 100px;
    width: 100vw;
    background: var(--white);
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    box-shadow: 0px 0.5px 5.5px var(--grayLight);

}

.container-logo {
    display: grid;
    justify-content: left;
    align-content: center;
    grid-column: 1;

}

.container-new-note {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column: 2;
}

.search-container {
    display: grid;
    grid-row: 1;
    justify-content: center;
    grid-column: 3;
}

.form-search {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    place-content: center;
    margin: 0px;
}

.container-input-search {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-content: end;
}

.input-search {
    grid-column: 1;
    grid-row: 1;

    height: 40px;
    border-radius: 7px 0px 0px 7px;
    color: var(--navy);
    font-family: 'Carter One', cursive;
    border: 2px solid var(--blackTransparent);
}

.input-search:focus {
    outline: none;
    caret-color: transparent;

}

.input-search:hover {
    border: 2px solid var(--royalblue);
}

.container-glass {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    width: 50px;

}

.magnifying-glass {
    width: 20px;
}

.button-search {
    grid-column: 2;
    grid-row: 1;
    height: 46px;
    width: 93px;
    background: var(--royalblue);
    border-radius: 0px 7px 7px 0px;
    color: var(--white);
    font-family: 'Carter One', cursive;
    margin-top: 5px !important;
    border: none;
}

.button-search:hover {
    width: 95px;
    background: var(--blackblue);
}

.sing-up {
    display: grid;
    justify-content: right;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    grid-gap: 5px;
    grid-column: 4;
}

.sing {
    grid-column: 1;

}

.style-text-big {
    /*font-family: 'Indie Flower', cursive;*/
    font-family: 'Carter One', cursive;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: var(--cyan);
}

.avatar {
  display: grid;
  justify-items: center;
  align-content: center;
  justify-content: right;
  grid-column: 2;
}

.avatar2 {
    height: 80px;
    width: 80px;
}

img {
  padding-left: 15px;
  padding-right: 15px;
}

/*-------------------------------------*/
/******************Body***************+*/
/*-------------------------------------*/


.container-transparent {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    place-content: center;
    /* padding-top: 60px; */
    padding-top: 120px;
    /* grid-gap: 10vw; */
}

.white-transparent {
    display: grid;
    place-content: center;
    width: 80vw;
    height: 80vh;
    background: var(--whiteTransparent);
    border-radius: 10px;
    grid-row: 2;
    grid-column: 1;
}

.container-white {
    display: grid;
    justify-content: center;
}

.white, .element-container {
    width: 75vw;
    height: 75vh;
    background: var(--white);
    border-radius: 10px;
}

/*--------------------------------------*/
/******************Login***************+*/
/*--------------------------------------*/

.container-login {
  width: 100vw;
  height: 100vh;
  background: var(--blackTransparent);
  grid-row: 1;
  grid-column: 1;
  place-content: center;
  display: grid;
}

.container-form-login {
    width: 300px;
    /* height: 50vh; */
    border-radius: 10px;
    background:var(--whiteTransparent);
    display: grid;
    place-content: center;
    padding: 20px;
}

.container-login-white {
    background: var(--white);
    border-radius: 10px;
    padding: 20px 25px;
    text-align: center;
    color: var(--cyan);
    font-family: 'Carter One', cursive;
}

/*@media (min-width: 700px) and (orientation: landscape) {*/
@media (max-width: 360px) {
    .avatar2, .avatar {
        height: 50px;
        width: 50px;
    }

    img {
        padding-left: 0px;
        padding-right: 0px;
    }

    .container-logo  {
        width: 30px;
        height: 30px;
        margin: 23px 0px 0px 5px;
        grid-column: 1;
        grid-row: 1;
    }
    .bar {
        height: 135px;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
    }

    .input-search {
        width: 105px;
        height: 30px;
    }

    .button-search {
        width: 80px;
        height: 36px;
    }

    .container-new-note {
        grid-column: 2;
        grid-row: 1;
    }

    .search-container {
        grid-column: 1;
        grid-row: 2;
    }

    .sing-up {
        grid-column: 2;
        grid-row: 2;
        margin-right: 5px;
    }

    .container-transparent {
        padding-top: 143px;
    }
}
.boton.boton-login {
    height: 40px;
    width: 93px;
    background: var(--royalblue);
    border-radius: 7px;
    color: var(--white);
    font-family: 'Carter One', cursive;
    margin-top: 5px !important;
    border: none;
}

.input-text {
  border-radius: 5px;
  border: 2px solid var(--grayLight);
}

.input-text:hover {
  border: 2.3px solid var(--cyan);
}

/*--------------------------------------*/
/***************Panel notes************+*/
/*--------------------------------------*/

.container-next-back {
    display: grid;
    place-content: center;
}

.button-next-back {
    display: grid;
    place-content: center;
    color: var(--white);
    height: 40px;
    width: 93px;
    background: var(--royalblue);
    border-radius: 7px;
    font-family: 'Carter One', cursive;
    text-decoration: inherit;
    border: none;
}
