:root {
    --cyan: #26c2ff;

    --white: #fff;
    --yellow: #fbde43;
    --pink: #ff6bb7;
    --lilac: #9f67ff;
    --whiteTransparent: #ffffff63;
    --blackTransparent: #0000003d;
    --royalblue: #155ED0;
    --darkGray: #a2a2a200;
    --grayLight: #8c8c8c;
    --turquoise: #00cc99;
    --navy: #001c42b5;
    --yellowDuck: rgb(255, 244, 188);
    --pinklight: #ff96cc;
    --yellow2: #e6c723;

}

/*-------------------------------------*/
/*****************Header**************+*/
/*-------------------------------------*/



body {
    margin: 0px;
    height: 100vh;
}

.container {
    height: 100vh;
    display: grid;
    background: var(--cyan);
    grid-template-columns: auto;
    grid-template-rows: auto auto;

}

.bar-container {
    display: grid;
    width: 100vw;
    grid-row: 1;
    grid-column: 1;
}

.bar {
    display: grid;
    height: 100px;
    width: 100vw;
    background: var(--white);
    grid-template-columns: repeat(3, auto);
    box-shadow: 0px 0.5px 5.5px var(--grayLight);

}

.container-logo {
    display: grid;
    justify-content: left;
    align-content: center;

}

.container-new-note {
    display: grid;
    justify-content: center;
    align-content: center;
}

.sing-up {
    display: grid;
    justify-content: right;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    grid-column: 3;
    grid-gap: 5px;
}

.sing {
    grid-column: 1;

}

.style-text-big {
    /*font-family: 'Indie Flower', cursive;*/
    font-family: 'Carter One', cursive;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: var(--cyan);
}

.avatar {
  display: grid;
  justify-items: center;
  align-content: center;
  justify-content: right;
  grid-column: 2;
}

.avatar2 {
    height: 80px;
    width: 80px;
}

img {
  padding-left: 15px;
  padding-right: 15px;
}

/*-------------------------------------*/
/******************Body***************+*/
/*-------------------------------------*/


.container-transparent {
    display: grid;
    justify-content: center;
}

.white-transparent {
    display: grid;
    place-content: center;
    width: 80vw;
    height: 80vh;
    background: var(--whiteTransparent);
    border-radius: 10px;
    grid-row: 2;
    grid-column: 1;
}

.container-white {
    display: grid;
    justify-content: center;
}

.white {
    width: 75vw;
    height: 75vh;
    background: var(--white);
    border-radius: 10px;
}

/*-------------------------------------*/
/******************Login***************+*/
/*-------------------------------------*/

/* .bglayer { */
/*   position: absolute; */
/*   top: 0px; */
/*   left: 0px; */
/*   right: 0px; */
/*   bottom: 0px; */
/*   background: var(--blackTransparent); */
/*   z-index: 0; */
/*   display: none; */
/* } */

.container-login {
  width: 100vw;
  height: 100vh;
  background: var(--blackTransparent);
  grid-row: 1;
  grid-column: 1;
  place-content: center;
  display: grid;
}

.container-form-login {
    width: 50vw;
    height: 50vh;
    background: var(--turquoise);
    /* grid-row: 2; */
    /* grid-column: 1; */
    display: grid;
    place-content: center;
}

/*@media (min-width: 700px) and (orientation: landscape) {*/
@media (min-width: 360px) {
    .avatar2 {
        height: 50px;
        width: 50px;
    }
    img {
        padding-left: 0px;
        padding-right: 0px;
    }

}
